name: lms-deployment
on:
 push:
  branches: main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: sending notifications to slack
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{secrets.SLACK_URL}}
          webhook-type: incoming-webhook
          payload: |
            channel: "lms-demo"
            text: "lms-deploy started"
      - name: git clone (code is pulled from repo to pipeline)
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      - name: buidling of backend image
        run: |
          cd api
          docker build -t ${{vars.DOCKERHUB_USERNAME}}/lmsbe .
      - name: building of frontend image
        run: |
          cd webapp
          docker build -t ${{vars.DOCKERHUB_USERNAME}}/lmsfe .
      - name: docker login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{vars.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_PASSWORD}}
      - name: pushing of images into docker
        run: |
          docker push ${{vars.DOCKERHUB_USERNAME}}/lmsbe
          docker push ${{vars.DOCKERHUB_USERNAME}}/lmsfe
    
        
  deploy:
    runs-on: self-hosted
    needs: build

    steps:
     - name: Docker login
       uses: docker/login-action@v3
       with:
         username: ${{vars.DOCKERHUB_USERNAME}}
         password: ${{secrets.DOCKERHUB_PASSWORD}}
     - name: Create Docker network
       run: |
        if docker network ls --format '{{.Names}}' | grep -w lms-network > /dev/null; then
          docker network rm lms-network
        fi
        docker network create lms-network

     - name: Create Postgres database
       run: |
        if docker ps -a --format '{{.Names}}' | grep -w lms-db > /dev/null; then
          docker rm -f lms-db
        fi

        docker run -dt \
          --name lms-db \
          --network lms-network \
          -p 5432:5432 \
          -e POSTGRES_USER=${{vars.POSTGRES_USERNAME}} \
          -e POSTGRES_PASSWORD=${{secrets.POSTGRES_PASS}} \
          postgres

     - name: Create Backend API
       run: |
        if docker ps -a --format '{{.Names}}' | grep -w api > /dev/null; then
          docker rm -f api
        fi

        docker run -dt \
          --name api \
          --network lms-network \
          -p 3000:3000 \
          -e DATABASE_URL=postgresql://${{vars.POSTGRES_USERNAME}}:${{secrets.POSTGRES_PASS}}@lms-db:5432 \
          ${{vars.DOCKERHUB_USERNAME}}/lmsbe

     - name: Create Frontend (Web App)
       run: |
        if docker ps -a --format '{{.Names}}' | grep -w web-app > /dev/null; then
          docker rm -f web-app
        fi

        docker run -dt \
          --name web-app \
          --network lms-network \
          -p 8080:8080 \
          ${{vars.DOCKERHUB_USERNAME}}/lmsfe
       
     - name: feedback to slack
       uses: slackapi/slack-github-action@v2.1.1
       with:
          webhook: ${{secrets.SLACK_URL}}
          webhook-type: incoming-webhook
          payload: |
            channel: "lms-demo"
            text: "lms-deploy completed"
      
